:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-shadow: #FF8DCB;
  --subtitle-text-color: #353430;
  --border-color: #353430;
  --border-color-hover: rgba(53, 52, 48, 0.4);
  --link-shadow: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  --rec-display: none;
}

.theme-light .page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --title-shadow: #FF8DCB;
    --subtitle-text-color: #353430;
    --border-color: #353430;
    --border-color-hover: rgba(53, 52, 48, 0.4);
    --link-shadow: #FF8DCB;
    --bg-image: url(../images/cover-image-light.png);
    --rec-display: none;
  }
  
  .page {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    color: var(--text-color);
  }
}
